.login {
  background: linear-gradient(#2d2d2d70, #1a1a1a);
  height: 100%;
  text-align: center;
  width: 100%;
}

.login-auth-title-label {
  position: absolute;
  top: 15.7%;
  left: 0;
  right: 0;
  margin: auto;
}

.login-email-input-text {
  position: absolute;
  top: 48.5%;
  left: 0;
  right: 0;
  margin: auto;
}

.login-name-input-text {
  position: absolute;
  top: 48.5%;
  left: 0;
  right: 0;
  margin: auto;
}

.login-password-input-text {
  position: absolute;
  top: 57.8%;
  left: 0;
  right: 0;
  margin: auto;
}

.login-auth-forgot-password-link {
  position: absolute;
  top: 67.3%;
  left: 0;
  right: 0;
  margin: auto;
}

.login-auth-skip-login-link {
  position: absolute;
  // top: 95%;
  top: 67.3%;
  left: 0;
  right: 0;
  margin: auto;
}

.login-login-button {
  position: absolute;
  top: 71.5%;
  left: 0;
  right: 0;
  margin: auto;
}

.login-login-icon-button-group {
  position: absolute;
  top: 81.5%;
  left: 0;
  right: 0;
  margin: auto;
}

.login-auth-create-new-account-link {
  position: absolute;
  top: 90.8%;
  left: 0;
  right: 0;
  margin: auto;
}
