# _______________________________
# dist
dist/

# _______________________________
# node_modules
node_modules/

# _______________________________
# codegen
codegen/

# _______________________________
# scripts
scripts/
