.register {
  background: linear-gradient(#2d2d2d70, #1a1a1a);
  height: 100%;
  text-align: center;
  width: 100%;
}

.register-auth-title-label {
  position: absolute;
  top: 15.7%;
  left: 0;
  right: 0;
  margin: auto;
}

.register-name-input-text {
  position: absolute;
  top: 29.9%;
  left: 0;
  right: 0;
  margin: auto;
}

.register-email-input-text {
  position: absolute;
  top: 39.2%;
  left: 0;
  right: 0;
  margin: auto;
}

.register-password-input-text {
  position: absolute;
  top: 48.5%;
  left: 0;
  right: 0;
  margin: auto;
}

.register-confirm-password-input-text {
  position: absolute;
  top: 57.8%;
  left: 0;
  right: 0;
  margin: auto;
}

.register-auth-forgot-password-link {
  position: absolute;
  top: 67.3%;
  left: 0;
  right: 0;
  margin: auto;
}

.register-register-button {
  position: absolute;
  top: 71.5%;
  left: 0;
  right: 0;
  margin: auto;
}

.register-register-icon-button-group {
  position: absolute;
  top: 81.5%;
  left: 0;
  right: 0;
  margin: auto;
}

.register-auth-already-have-an-account-link {
  position: absolute;
  top: 90.8%;
  left: 0;
  right: 0;
  margin: auto;
}

.register-auth-skip-login-link {
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  margin: auto;
}
